$error : #dc493a;

*{
  font-family: Helvetica, sans-serif;
}

.container{
  max-width: 600px;
  margin: 0 auto;
}

.row{
  display: flex;
  justify-content: center;
}

.wrap{
  flex-flow: row wrap;
}

.no-wrap{
  flex-flow: row nowrap;
}

.w-100{
  flex: 1 0 100%;
  display: flex;
}

.w-50{
  flex: 1 0 50%;
  display: flex;
}

.info{
  padding: 20px 0;
  border-bottom: 1px solid black;
}

.user-image{
  border-radius: 500px;
  padding: 20px;
}

.icon{
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container{
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  &:hover{
    background-color: #f0f0f0;
  }
}

.icon-button{
  margin: 10px;
}

.header-wrapper{
  min-height: 60px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.info-header{
  text-align: left;
  font-size: 1.3rem;
}

.info-blurb{
  padding: 0 20px;
}

.contact{
  padding: 0 30px;
}

form{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  input, textarea, button{
    font-size: 1rem;
  }
}

input[type=text]{
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid black;
  transition: all 0.1s ease;
  &:first-of-type{
    margin-top: 0;
  }
  &.error{
    border-bottom: 1px solid $error;
    transition: all 0.1s ease;
  }
}

textarea{
  margin: 10px 0;
  border-radius: 0;
  color: black;
  padding: 3px;
  transition: all 0.1s ease;
  &.error{
    border: 1px solid $error;
    transition: all 0.1s ease;
  }
}

button{
  border-radius: 0;
  padding: 7px;
  margin: 10px 0;
  border: 1px solid black;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px black;
}

.error-message{
  justify-content: center;
  color: $error;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top: 1px solid black;
}

.social{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a{
    margin: 0 25px;
    color: black;
    cursor: pointer;
  }
}

